/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d0cfcf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cac9c9;
}

.topBar {
  background: rgba(255, 255, 255, 0.01);
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.mainText {
  color: #006fee;
  background-image: -webkit-linear-gradient(45deg, #006fee 14%, #302111 62%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
